.catalog-category-view .product-item-name .product-item-link, .catalogsearch-result-index .product-item-name .product-item-link {font-size: 15px;line-height: 1;font-weight: unset;text-decoration: none;}
.catalog-category-view .product-item-name, .catalogsearch-result-index .product-item-name {
text-align: center;
}
input[type=checkbox]:checked+label:after {
 top: 7px;
}
.catalogsearch-result-index .page-main .column.main .search.results .products .items.product-items .product-item {
padding: 2%;
}
.category-image, .category-description {
 font-size: 15px; 
}
.catalog-category-view .product-item-name, .catalogsearch-result-index .product-item-name {min-height: 60px;margin: 0;}
.catalog-category-view .page-wrapper .products-grid .product-item .delivery-wrap ul li p, .catalogsearch-result-index .page-wrapper .products-grid .product-item .delivery-wrap ul li p {
font-family: 'Gotham Narrow Book',sans-serif;
font-weight: unset;
}
.catalog-category-view .page-wrapper .products-grid .product-item .delivery-wrap ul li span, .catalogsearch-result-index .page-wrapper .products-grid .product-item .delivery-wrap ul li span {
line-height: 1;
}
.catalog-category-view .page-wrapper .products-grid .product-item p.product-sku, .catalogsearch-result-index .page-wrapper .products-grid .product-item p.product-sku {
font-size: 12px;
}
.catalog-category-view .page-wrapper .products-grid .product-item .product-item-details, .catalogsearch-result-index .page-wrapper .products-grid .product-item .product-item-details {
  position:relative;
}
.catalog-category-view .product-attribute, .catalogsearch-result-index .product-attribute {
  position: absolute;
  top: -35px;
  z-index: 1;
  width: 100%;
}
.catalog-category-view .product-item-name, .catalogsearch-result-index .product-item-name {display: -webkit-box;/* max-width: 200px; */-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;}
.catalog-category-view .product-item-name, .catalogsearch-result-index .product-item-name {
  height: 60px
}
.catalog-category-view .page-wrapper .products-grid .product-item .delivery-wrap ul, .catalogsearch-result-index .page-wrapper .products-grid .product-item .delivery-wrap ul {
  display: none;
}
.page-products #maincontent .price-box .inc-vat {
  font-family: 'Gotham Narrow Book',sans-serif
}
.catalog-category-view .sidebar-main .item a, .catalogsearch-result-index .sidebar-main .item a {
  font-family: 'Gotham Narrow Book',sans-serif;
  font-size: 15px;
  text-decoration: none;
  padding: 3% 0px 3% 0px;
}
.mst-nav__label .mst-nav__label-item a label {
  overflow: unset;
  white-space: unset;
  padding-top: 0;
}
.mst-nav__label .mst-nav__label-item a label span.count {
  white-space: nowrap;
}
.catalog-category-view .product-item-name, .catalogsearch-result-index .product-item-name {
  height: unset;
}
  .product-item .special-price {
    padding-bottom: 2%
  }
  .catalog-product-view #maincontent .special-price .price-label, .catalog-product-view #maincontent .old-price .inc-vat {
      display: none;
  }
  .catalog-product-view #maincontent .old-price .price-label, .catalog-product-view #maincontent .old-price .price {
      font-family: 'Gotham Narrow Bold';
      font-weight: unset;
      color: white;
      text-transform: uppercase;
      font-size: 25px;
  }
  .catalog-product-view #maincontent .saved-price {
    display: block;
    width: 100%;
    border: 1px solid #991a24;
    background: #991a24;
    text-transform: uppercase;
  }
  .catalog-product-view #maincontent .saved-price .price-label {
    color: white;
    font-family: 'Gotham Narrow black';
    font-size: 40px;
    padding: 3%;
  }
  .catalog-product-view #maincontent .old-price .price-container {
    text-decoration: none;
      display: inline-block;
  }
  .catalog-product-view #maincontent .price-box.price-final_price.save {
    position: relative;
    height: 130px;
  }
  .page-products #maincontent .price-box .old-price {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Gotham Narrow medium';
  }
  .page-products #maincontent .price-box .old-price .inc-vat {
    display:none;
  }
  .catalog-product-view #maincontent .price-box .old-price {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #991a24;
    border: 1px solid #991a24;
    padding: 0% 0% 1% 3%;
  }
  .catalog-product-view #maincontent .price-box .saved-price {
    display: block;
    width: 100%;
    border: 1px solid #991a24;
      background: #991a24;
  }
  .page-products #maincontent .price-box .old-price  .price {
    font-size: inherit;
    font-family: inherit;
  }
  .page-products #maincontent .price-box .old-price .price-container {
    text-decoration: inherit;
    color: #737e7a;
  }
  .page-products #maincontent .price-box .old-price .price-label {
    display:inline-block;
    text-decoration: inherit;
    font-size: inherit;
  }
  .page-products #maincontent .saved-price .price-label {
    display:inline-block;
    font-family: 'Gotham Narrow Bold';
    color: #991a24;
    text-transform: uppercase;
  }
  .page-products #maincontent .saved-price .price-label .price {
    font-size: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: unset;
  }
  .page-products #maincontent .product-item .price-box .price-label:after {
    display:none;
  }
  .page-products #maincontent .saved-price .price-label {
    font-size: 1.2em;
}
.page-products #maincontent .price-box {
  position: relative;
  display: block;
    overflow: visible;
    line-height: 1;
  }

/*************************/
/*** Shopping by Filter ***/
/*************************/
#maincontent .block-subtitle {
    margin-bottom: 0;
}
#maincontent .filter-current {
 margin-bottom: 5%;
}
#maincontent .filter-current .item {
 margin: 0;
}
#maincontent .filter-current .filter-value {
 white-space: nowrap;
}
@media only screen and (max-width: 767px) {
#maincontent .block-subtitle {
    padding-top: 3%;
}
#maincontent .filter .filter-current-subtitle:before {
 font-size: 45px;
 }
 #maincontent .filter-current .item {
 padding-left: 2%;
}
#maincontent .filter-current .filter-label {
 padding-left: 0;
 }
 #maincontent .filter-current ol.items {
 padding-bottom: 2%;
 }
}
/*************************/
/*** Prices on Desktop ***/
/*************************/
@media screen and (min-width: 1290px) {
  .page-products #maincontent .price-box .old-price {
    position: absolute;
    bottom: -4px;
    left: 0px;
    width: 100%;
}
}
@media screen and (max-width: 1289px) {
 .page-products #maincontent .price-box {
    position: relative;
    display: flex;
    overflow: visible;
    line-height: 1;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 5%;
} 
  .page-products #maincontent .special-price {
    width: 100%;
  }
  .page-products #maincontent .old-price {
   width: 45%; 
  }
}
/*************************/
/*** Tablet Filter Fix ***/
/*************************/
@media screen and (max-width: 991px) {
#layered-filter-block .filter-title, #layered-filter-block.block.filter.active .filter-options {
  display:block;
}
#layered-filter-block.block.filter .filter-options {
  display:none
}
.catalog-category-view .sidebar-main .item a, .catalogsearch-result-index .sidebar-main .item a {
  padding: 1% 0px 1% 0px;
}
}

/**********************************/
/*Mobile Product List Page Changes*/
/**********************************/

@media screen and (max-width: 639px) {
.catalog-category-view #maincontent .product-item, .catalogsearch-result-index #maincontent .product-item {
  width: 49%!important;padding: 2%;margin-bottom: 3%
  }
  .catalog-category-view .product-attribute, .catalogsearch-result-index .product-attribute {
  top: -40px;
  }

ol.products.list.items.product-items {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.catalog-category-view .page-wrapper .products-grid .product-item .delivery-wrap ul li p, .catalogsearch-result-index .page-wrapper .products-grid .product-item .delivery-wrap ul li p {
  font-size: 13px;
  padding-left: 23px
}
.catalog-category-view .page-wrapper .products-grid .product-item .delivery-wrap ul li span, .catalogsearch-result-index .page-wrapper .products-grid .product-item .delivery-wrap ul li span {
  font-size: 20px;
}
.catalog-category-view .product-item-name, .catalogsearch-result-index .product-item-name {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;}
.catalog-category-view #maincontent .page-title-wrapper h1 {
  font-size: 26px!important;
  margin-top: 0;
  margin-bottom: 3%
}
.catalogsearch-result-index #maincontent .page-title-wrapper h1 {
  display: none;
}
.breadcrumbs {
  margin-bottom: 3%
}
#header-banner-info.items.owl-carousel .owl-dots {
  display: none;
}
.page-wrapper .bottom-header-content {
  height: unset!important
}
.catalog-category-view .page-wrapper .products-grid .product-item .product-price, .catalogsearch-result-index .page-wrapper .products-grid .product-item .product-price {
  justify-content: center;
  margin-top: 0;
}
.catalog-category-view .page-wrapper .products-grid .product-item .product-price .price-box, .catalogsearch-result-index .page-wrapper .products-grid .product-item .product-price .price-box {
  height: auto;
}
.page-products #maincontent p.product-buy-free {
  font-size: 24px
}
  .page-products #maincontent .price-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    min-height: 40px;
    margin-bottom: 5%;
    line-height: 1;
  }
    .page-products #maincontent .price-box .old-price {
   font-size: 12px;
  }
  .page-products #maincontent .saved-price .price-label {
    font-size: 15px;
  }
  .page-products #maincontent .special-price {
   text-align:center; 
  }
  .page-products #maincontent .product-price {
   margin-top: 0; 
  }
  
/*************************/
/* Mobile Header Changes */
/*************************/
.top-wrap-content.col-12.col-md-12.col-lg-3 {
  min-height: unset;
}
.page-wrapper span.action.nav-toggle {
  top: 19px
}
.page-header .top-wrap-content.col-12, .page-header .middle-wrap-content.col-12 {
  padding: 0 2%;
}
}
