
.catalog-product-view .product.attribute.Specifications ul {
    margin: 2%;
    padding-left: 2%;
    list-style: disc;
}
#maincontent ul.delivery-list.text-left li p {
    margin-bottom: 1%;
    font-family: 'Gotham Narrow Book', sans-serif;
}
#maincontent .data.item.title a {
    font-family: 'Gotham Narrow Black';
}
.data.item.content {
    font-family: 'Gotham Narrow Book';
}
.catalog-product-view span.inc-vat, .catalog-product-view span.edit-qty, .catalog-product-view input#qty {
    font-family: 'Gotham Narrow Medium';
}

body.catalog-product-view.product-dulux-trade-weathershield-masonry-smooth-7-5l-magnolia.page-layout-1column {}@media screen and (max-width: 767px) {
    .catalog-product-view .page-wrapper #maincontent .column.main {
    padding-top: 100%;
}
.gallery-placeholder:not(._block-content-loading) {
    margin-top: -100%;
    padding-top: 3%;
}
.catalog-product-view   #maincontent h1.page-title {
    font-size: 25px!important;
    line-height: 1;
    margin-bottom: 3%;
}
.catalog-product-view .page-wrapper #maincontent .product-info-main {
      margin-top: 3%;
}
.catalog-product-view .product-info-main .product.attribute.sku .value {
    font-size: 14px;
}
.catalog-product-view .product-info-main .product-info-price .price-wrapper .price {
    font-weight: unset;
    font-size: 40px;
}

.catalog-product-view .product-info-main .product-info-price .price-box {
    /* text-align: center; */
    margin-top: 10%;
}
.bottom-header-content {
    margin-bottom: 2%;
}
.breadcrumbs {
    font-size: 0.8em;
}

.breadcrumbs ul.items {
    font-size: 1.4rem;
    /* text-decoration: none; */
}
li.item a {
    text-decoration: none;
}
.breadcrumbs .item:not(:last-child):after {
    font-size: 1.2rem;
    line-height: unset;
    margin: 0;
}
.catalog-product-view .breadcrumbs {
    margin-bottom: 0.5%;
}
.catalog-product-view .block.related {
    margin-top: 1%;
    padding-top: 3%;
}

.block-title.title {
    margin-bottom: 2%;
}

.catalog-product-view #maincontent .block-title {
    margin-bottom: 2%;
}
.catalog-product-view #maincontent .product.info.detailed {
    padding-top: 5%;
    margin-bottom: 5%;
}

.catalog-product-view #maincontent .actions {
    padding-top: 3%;
}

.catalog-product-view #maincontent .box-choice {
    margin-bottom: 0;
}
}
